wheel==0.37.1
scikit-learn
filterpy==1.4.5
numba==0.56.4	
matplotlib==2.2.3
pillow>=8.3.2
opencv-python
glob2==0.6
PyYAML
easydict==1.9
llvmlite==0.39.1
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
numpy==1.21.6